<form action = "">
    <label for="nombreAuto">Nombre del carro: </label>
    <input type="text" name="nombreAuto" [(ngModel)]="auto.nombreAuto">
    <label for="modelo">Modelo del carro: </label>
    <input type="text" name="modelo" [(ngModel)]="auto.modelo">
    <label for="empresa">Empresa del carro: </label>
    <input type="text" name="empresa" [(ngModel)]="auto.empresa">
    <label for="precio">Precio: </label>
    <input type="number" name="precio" [(ngModel)]="auto.precio">
    <label for="descripcion">Description: </label>
    <input type="text" placeholder="Escribe todo lo importante del vehiculo: " name="descripcion" [(ngModel)]="auto.descripcion">
    

    <button type ="submit" (click)="guardarAuto()">Guardar vehiculo</button>
    
</form>
